@page "/"

<PageTitle>Index</PageTitle>

<style type="text/css" rel="stylesheet">

.circular--square { border-top-left-radius: 50% 50%; border-top-right-radius: 50% 50%; border-bottom-right-radius: 50% 50%; border-bottom-left-radius: 50% 50%; }

.circular--portrait { position: relative; width: 200px; height: 200px; overflow: hidden; border-radius: 50%; } .circular--portrait img { width: 100%; height: auto; }


</style>

<h1>Hello, from Scotland!</h1>

This is a small Blazor test app, created by <a href="https://www.techielass.com/">Sarah!</a>.

<p>
        <img class="circular--portrait" src="/images/sarahlean.png" />
</p>



